@font-face {
  font-family: "GroovyFont";
  src: url("./font/groovyFont.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}

body {
  background-image: url(./z2.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  color: white !important;
}

.main-box {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 120, 108, 0.6);
  padding: 30px;
  border-radius: 40px;
  width: 70% !important;
  min-height: 660px;
  max-width: 800px !important;
}

h3 {
  margin-bottom: 15px !important;
  font-size: 20px !important;
}

.button-login {
  margin-top: 25px;
  margin-bottom: 20px;
  font-family: GroovyFont;
  font-size: 23px;
  height: 40px;
  width: 30% !important;
  min-width: 150px;
  background-image: url(./z7.jpg);
  background-size: cover;
  border: 1px dotted rgb(239, 157, 157);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  transition: 0.5s ease-in-out;
  width: 27%;
}

.button-login:hover {
  background-image: url(./z11.jpg);
  color: rgb(255, 255, 255);
  font-size: 24px;
}

.button-login:active {
  background-image: url(./z11.jpg);
  color: rgb(255, 255, 255);
  font-size: 24px;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 75px !important;
  }
  h2 {
    font-size: 35px !important;
  }
  .main-box {
    width: 80% !important;
  }
}


@media (max-width: 800px) {
  h1 {
    font-size: 45px !important;
  }

  h3 {
    font-size: 20px !important;
  }

  .input-box {
    font-size: 14px;
  }

  .button-add,
  .button-delete {
    font-size: 18px;
    text-align: center;
    margin-bottom: 1px;
    padding-bottom: 6px !important;
  }

  .button-area {
    width: 38%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .main-box {
    width: 90% !important;
    padding: 20px;
  }

  .scroll-box {
    width: 98%;
  }

  .author {
    display: none;
    padding: 0;
    margin: 0;
  }
  .todo-content {
    width: 100%;
    padding: 1px;
    font-size: 16px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .todo-item {
    border-top: 1px dotted rgb(173, 230, 225);
    border-bottom: 1px dotted rgb(173, 230, 225);
    display: flex;
    align-items: center;
  }
  .task-row{
    padding: 0px;
    margin: 0px;
  }
}

.particle {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
}

@keyframes glitter {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-20px) scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
}

.display-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.link {
  color: rgb(203, 255, 245);
  font-family: GroovyFont;
  font-size: 23px;
  transition: 0.3s ease-in-out;
}

.link:hover {
  color: rgb(242, 221, 255);
}

.mb-3 {
  width: 70%;
}

.text-login {
  font-family: GroovyFont;
  font-size: 23px;
  color: #ffeae7;
}

.login-bar {
  border: dotted 1px rgb(255, 255, 255);
  border-radius: 13px;
  color: rgb(173, 131, 201);
  font-size: 15px;
}

.login-bar:focus {
  outline: none;
  color: rgb(173, 131, 201);
}

h4 {
  text-align: center;
  font-size: 70px !important;
  font-family: GroovyFont;
  color: rgb(186, 243, 233);
}

@keyframes sparkle {
  0%,
  100% {
    text-shadow: 0px 0px 2px rgba(186, 243, 233, 0.3),
      0px 0px 4px rgba(186, 243, 233, 0.3), 0px 0px 6px rgba(186, 243, 233, 0.4);
  }
  50% {
    text-shadow: 0px 0px 2px rgba(186, 243, 233, 0.6),
      0px 0px 6px rgba(186, 243, 233, 0.7),
      0px 0px 12px rgba(186, 243, 233, 0.9);
  }
}

h4 {
  font-size: 70px !important;
  font-family: GroovyFont;
  color: transparent;
  animation: sparkle 2s infinite ease-in-out;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.9),
    rgba(186, 243, 233, 0.8),
    rgba(255, 255, 255, 0.9)
  );
  background-clip: text;
  position: relative;
  display: inline-block;
}

.error {
  margin-top: 10px;
  margin-bottom: 10px;
}

.popup-success p {
  font-family: GroovyFont;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

.popup-success button {
  font-family: GroovyFont;
  background-color: transparent;
  background-size: cover;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  padding: 4px 15px;
  border: white 2px dotted;
  font-size: 25px;
  max-width: 200px;
  transition: 0.3s ease-in-out;
}

.popup-success button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.popup-success {
  position: fixed;
  border: dotted white 2px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
      circle at 40% 40%,
      rgba(239, 91, 72, 0.8),
      transparent 70%
    ),
    radial-gradient(
      circle at 80% 70%,
      hsla(158, 77%, 72%, 0.6),
      transparent 70%
    ),
    radial-gradient(circle at 40% 90%, rgb(219, 138, 241, 0.7), transparent 90%);
  border-radius: 30px;
  box-shadow: 8px 8px 8px 6px rgba(166, 83, 75, 0.5);
  z-index: 200;
  width: 40%;
  height: 250px;
  padding: 30px 30px;
}

.popup-logout {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
  background: radial-gradient(
      circle at 30% 40%,
      rgba(239, 91, 72),
      transparent 90%
    ),
    radial-gradient(circle at 80% 70%, hsla(158, 77%, 72%), transparent 90%),
    radial-gradient(circle at 40% 90%, rgb(219, 138, 241), transparent 90%);
  padding: 30px;
  border-radius: 25px;
  color: white;
  width: 300px;
  z-index: 1000;
  font-size: 18px;
}

.button-confirm-logout {
  font-family: GroovyFont;
  background-color: transparent;
  background-size: cover;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  padding: 4px 15px;
  border: white 2px dotted;
  font-size: 23px;
  max-width: 200px;
  transition: 0.3s ease-in-out;
}
.button-cancel {
  margin-right: 20px;
  font-family: GroovyFont;
  background-color: transparent;
  background-size: cover;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  padding: 4px 15px;
  border: white 2px dotted;
  font-size: 23px;
  max-width: 200px;
  transition: 0.3s ease-in-out;
}

.popup-logout button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
